<section class="container">
  <header class="header d-flex">

    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="filtro"
        (keyup)="pesquisarPensamentos()"
        >
    </div>

    <div class="buscar-pensamentos">
      <input
          type="search"
          class="filtro"
          placeholder="Procurar por mensagem"
          autofocus
          [(ngModel)]="filtroMensagem"
          (keyup)="pesquisarPorMensagem()"
        >
      <img src="/assets/imagens/lupa.png" alt="lupa">
    </div>

    <div class="botoes">
    <button (click)="pesquisarPensamentos()" class="botao">
      Meu Mural
    </button>
    <button (click)="filtrarFavoritos()" class="botao">
      Meus favoritos
    </button>
    <button routerLink="/criarPensamento" class="botao">
      Adicionar pensamento
    </button>
    </div>
  </header>
  <h2 class="ff-inter">{{titulo}}</h2>
  <div class="mural" *ngIf="listaPensamentos.length > 0, else semPensamentos">
    <div *ngFor="let pensamento of listaPensamentos">
      <app-pensamento
      [pensamento]="pensamento"
      [listaFavoritos]="listaFavoritos"
      ></app-pensamento>
    </div>
  </div>
  <app-botao-carregar-mais [haMaisPensamentos]="haMaisPensamentos" *ngIf="mostrarBotaoCarregarMaisPensamentos==true"
  (click)="carregarMaisPensamentos()">
  </app-botao-carregar-mais>
  <ng-template #semPensamentos>
    <div class="ff-inter sem-pensamentos">
      <p>Ainda não existe pensamentos!</p>
    </div>
  </ng-template>
</section>
